.text-subtitle{
    font-family: 'pt sans';
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.dot{
    clip-path: circle();
    width: 20px;
    height: 20px;
    background-color: black;
}

.dot-left{
    background-color: #02719B;
}

.dot-right{
    background-color: #6ACAEF  ;
}


.dots-container{
    display: flex;
    width: fit-content;
    border-radius: 1rem;
    gap: 1rem;
    background-image: linear-gradient(to right,
    rgba(80, 81, 79, 0.3),
    rgba(181, 183, 178, 0.3)
    );
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    place-items: center;

    margin: 0 auto;
    width: 100%;
}

.main-container{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.title{
    font-size: 2.2rem;
    font-family: 'open sans';
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #02719B, #012735);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent
}

.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    border-style: dotted;
    border-color: #02719B;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.years-text{
    font-size: 3.5rem;
    font-family: 'open sans';
    background-image: linear-gradient(to bottom, #02719B, #012735);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent
}

.circle-subtitle{
    font-family: 'open sans';
    margin-top: -1rem;
    text-align: center;
    font-size: 2.2rem;
    background-image: linear-gradient(to bottom, #02719B, #012735);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent
}

.circle-paragraph{
    font-family: 'pt sans';
    text-align: center;
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom, #02719B, #012735);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent
}
